%h1= t 'label.todo'
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX

%h1=t 'label.assignment'
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%h1=t 'label.log'
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
