%h1= t 'label.todo'
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX

%h1=t 'label.assignment'
%assignments{:data=>{:assignments=>"#{@assignments.to_json}"}}
  -@assignments.each do|assignment|
    %p=assignment.name
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%h1=t 'label.log'
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
%p XXXXXXXXXXXXXXXXXXX
